<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/addBook" method="POST">
        <label>Title:</label>
        <input type="text" name="title" required><br><br>
        <label>Author:</label>
        <input type="text" name="author" required><br><br>
        <label>Genre:</label>
        <select name="genreId" required>
            <% genres.forEach(genre => { %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
            <% }) %>
        </select><br><br>
        <label>Description:</label>
        <textarea name="description"></textarea><br><br>
        <button type="submit">Add Book</button>
    </form>

    <p><a href="/">Back to books list</a></p>
</body>
</html>
