<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
  <h1>Books Inventory</h1>
  <div>
    <a href="/">Books</a>
    <a href="/genres">Genres</a>
    <a href="/authors">Authors</a>
    <button onclick="window.location.href='/addBook'">Add Book</button>
  </div>
</nav>
</body>
</html>